
/* $Id: mobile.css 8825 2011-04-09 01:34:20Z john $ */



/*
ANNOUNCEMENTS WIDGET
Used to display announcements.
*/
#announcements
{
  +foreground;
  padding: 7px;
  border-top-width: 1px;
  margin-bottom: 15px;
}




/* ITEM TYPE ICONS */
.item_icon_announcement
{
  background-image: url(~/application/modules/Announcement/externals/images/types/announcement.png);
}